/* --navigation */

	.mainmenu {
		overflow:hidden;
		&:hover {
			overflow:visible;
		}

		.mainfilters {
			.flex;
			.flex-direction(row);
			.justify-content(space-between);
			position:relative;
			.container;
			.transition( transform @transpeed );
		}
		.filteritem {
			.droptrigger {
				position:relative;
				z-index:1;
				display:block;
				padding:0.5em 0;
				text-align:center;
				color:@white;
				text-transform:uppercase;
				font-weight:bold;
				.fontcalculate(13);
				cursor:pointer;
				.noselect();

				.droptriggerinner {
					display:inline-block;
					padding:0.3em 0;
					border-bottom:solid 4px @greyDark;
					.transition( border @transpeed / 2 );
				}
  				&:before,
  				&:after {
  					content:"";
  					display:none;
  					position:absolute;
  					top:0;
  					width:7em;
  					height:100%;
  					//border:solid 1px red;
  				}
  				&:before {
  					right:90%;
  					.transform( rotate(-30deg) );
  					.transform-origin( 100% 0% );
  				}
  				&:after {
  					left:90%;
  					.transform( rotate(30deg) );
  					.transform-origin( 0% 0% );
  				}
  				&:hover {
  					z-index:2;
  					&:before,
  					&:after {
  						display:block;
  					}
  				}
			}
			&:first-child {
				.droptrigger:before {
					display:none;
				}
			}
			&:nth-last-child(2) {
				.droptrigger:after {
					display:none;
				}
			}

			.dropcontent {
				position:absolute;
				z-index:-1;
				top:100%;
				left:0;
				width:100%;
				padding:20px 10px;
				padding-bottom:50px;
				.column-count(4);
				.border-box;
				background:@white;
				border-top:0;
				.border-radius( 0 0 4px 4px );
				.box-shadow( 0 2px 7px rgba(0, 0, 0, 0.3) );
				.transparency( 0 );
				.transition( opacity @transpeed );
				
				.filterlabel {
					position:relative;
					display:block;
					padding:0.3em 0.5em;
					padding-left:20px;
					.break-inside();
					.border-box;
					cursor:pointer;
					text-transform:capitalize;
					.fontcalculate( 14 );
					color:@greyDark;
					.noselect();
					
					/* this doesn't work in chrome, so we fallback to the max-height on the parent
					&.newcolumn {
						break-before:always;
						page-break-before: always;
					}
					*/

					input {
						position:absolute;
						top:7px;
						left:0;
					}
				}
				.selectall {
					position:absolute;
					bottom:10px;
					left:50%;
					margin-left:-68px;
					input {
						display:none;
					}
				}
			}

			&:hover {
				.droptrigger {
					.droptriggerinner {
						border-color:@red;
					}
				}
				.dropcontent {
					.transparency( 1 );
					z-index:100;
				}
			}
		}
	}
	
	.pagination {
		margin-bottom:20px;
		text-align:right;
		.spacer {
			margin-right:0.5em;
		}
	}

@media (max-width:@tabletWidth){
	.mainmenu {
		.filteritem {
			.droptrigger {
				&:before {
					.transform( rotate(-40deg) );
				}
				&:after {
					.transform( rotate(40deg) );
				}
			}
			.dropcontent {
				.column-count(3);
			}
		}
	}
}


@media (max-width:@mobileWidth){
	.mainmenu {
		padding:0;
		.mainfilters {
			z-index:101;
			display:block;
			position:absolute;
			top:100%;
			left:0;
			padding:0;
			width:50%;
			.transform( translateX(-100%) );
			.box-shadow( none );
			background:@greySuperDark;

			.menuresetbtn {
				position:relative;
				z-index:1;
				padding:0.5em 14px;
				padding-top:1.5em;
			}
		}
		.filteritem {
			position:relative;
			display:block;
			z-index:1;

			.droptrigger {
				padding:0.8em 1em;
				text-align:left;
				.droptriggerinner {
					border-color:@greySuperDark;
					border-bottom-width:2px;
				}
				&:before,
				&:after {
					height:0;
					width:0;
				}
			}
			.dropcontent {
				display:none;
				z-index:-1;
				left:100%;
				top:0;
				height:0;
				overflow:hidden;
				padding:20px 10px;
				padding-top:60px;
				.column-count(1);
				.border-radius( 0 );
				.transform( translateX(-100%) );
				.transition( none );

				.filterlabel {
					width:auto;
				}
				.selectall {
					top:10px;
					bottom:auto;
				}
			}

			&:hover {
				.dropcontent {
					z-index:1;
					height:auto;
					.transform( translateX(0%) );
				}
			}
		}
	}
	
	.showmenu {
		.mainmenu {
			.mainfilters {
				.transform( translateX(0%) );
				.box-shadow( 1px 1px 3px rgba(0,0,0,0.3) );
			}
			.filteritem {
				.dropcontent {
					display:block;
				}
			}
		}
		.searchbox {
			.transform( translateX(100%) );
		}
	}

	.showsearch {
		.mainmenu {
			.mainfilters {
				.transform( translateX(-100%) );
			}
		}
		.searchbox {
			.transform( translateX(0%) );
		}
		.mobilesearch {
			z-index:0;
		}
	}

	.pagination {
		text-align:center;
		.position {
			display:block;
		}
		.btn {
			margin:0.25em;
		}
	}

}
